.search-wrapper {
    background-color: #FFFFCC;
}

.search_form {
    width: 350px;
    height: 70px;
    margin-right: 50px;
}

.search_button {
    width: 70px;
    height: 70px;
}

.cooking-information-title {
    color: #F8A608;
    font-weight: bold;
}

.cooking-list {
    border: solid;
    border-color: #EEEEEE;
    background-color: white;
    padding: 40px;
}

.cooking-information-details {
    color: #B55959;
    font-weight: bold;
}