.top-wrapper {
    background-image: image-url('back.PNG');
    background-color: rgba(184,179,174,0.9);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: 50% 40%;
    font-family: "Hiragino Sans";
    .title {
        color: blue;
        font-size: 100px;
    }
    .top-phrase {
        color: #fcd592;
        font-weight: bold;
        margin-top: 150px;
    }
}